In [5]:
# data visualization libraries
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

#import pandas module
import pandas as pd
import datetime

In [6]:
#read games details csv file
games_details_df = pd.read_csv('games_details.csv')

games_details_df.head()

/var/folders/t4/4qwk8z7s1fn1bs6x44bkmmqm0000gn/T/ipykernel_60601/3136688550.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details_df = pd.read_csv('games_details.csv')

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [7]:
#get the dimension of games_details
games_details_df.shape

(668628, 29)

In [8]:
#read the ranking csv file
ranking_df = pd.read_csv('ranking.csv')

ranking_df.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN

In [9]:
#add season year to ranking_df
ranking_df['SEASON_YEAR'] = pd.to_datetime(ranking_df['STANDINGSDATE']).dt.strftime('%Y')

In [10]:
#get the dimension of ranking_df
ranking_df.shape

(210342, 14)

In [11]:
#read games csv file
games_df = pd.read_csv('games.csv')

games_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

In [12]:
#get the dimension of games
games_df.shape

(26651, 21)

In [15]:
#read players csv file
players_df = pd.read_csv('players.csv')

players_df.head()

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

In [16]:
#get the dimension of players
players_df.shape

(7228, 4)

In [17]:
#read teams csv file
teams_df = pd.read_csv('teams.csv')

teams_df.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [18]:
#get the dimension of teams
teams_df.shape

(30, 14)

In [19]:
# team of choice
my_team = 'LAL'

team_id = teams_df.loc[teams_df['ABBREVIATION'] == my_team].iloc[0]['TEAM_ID']
print("team_id",team_id)

team_id 1610612747

In [20]:
data = games_df.loc[(games_df['TEAM_ID_home']==team_id) | (games_df['TEAM_ID_away']==team_id)]
data.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
11,2022-12-21,22200475,Final,1610612758,1610612747,2022,1610612758,134.0,0.505,0.750,...,29.0,46.0,1610612747,120.0,0.500,0.833,0.458,25.0,39.0,1
25,2022-12-19,22200459,Final,1610612756,1610612747,2022,1610612756,130.0,0.495,0.750,...,21.0,51.0,1610612747,104.0,0.448,0.824,0.429,13.0,38.0,1
33,2022-12-18,22200451,Final,1610612747,1610612764,2022,1610612747,119.0,0.500,0.727,...,29.0,43.0,1610612764,117.0,0.463,0.792,0.256,24.0,48.0,1
50,2022-12-16,22200437,Final,1610612747,1610612743,2022,1610612747,126.0,0.527,0.750,...,29.0,45.0,1610612743,108.0,0.481,0.750,0.333,25.0,39.0,1
69,2022-12-13,22200413,Final,1610612747,1610612738,2022,1610612747,118.0,0.473,0.733,...,23.0,49.0,1610612738,122.0,0.442,0.688,0.396,27.0,51.0,0

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1838 entries, 11 to 26648
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     1838 non-null   object
 1   GAME_ID           1838 non-null   int64
 2   GAME_STATUS_TEXT  1838 non-null   object
 3   HOME_TEAM_ID      1838 non-null   int64
 4   VISITOR_TEAM_ID   1838 non-null   int64
 5   SEASON            1838 non-null   int64
 6   TEAM_ID_home      1838 non-null   int64
 7   PTS_home          1830 non-null   float64
 8   FG_PCT_home       1830 non-null   float64
 9   FT_PCT_home       1830 non-null   float64
 10  FG3_PCT_home      1830 non-null   float64
 11  AST_home          1830 non-null   float64
 12  REB_home          1830 non-null   float64
 13  TEAM_ID_away      1838 non-null   int64
 14  PTS_away          1830 non-null   float64
 15  FG_PCT_away       1830 non-null   float64
 16  FT_PCT_away       1830 non-null   float64
 17  FG3_PCT_away      1830 non-null   float64
 18  AST_away          1830 non-null   float64
 19  REB_away          1830 non-null   float64
 20  HOME_TEAM_WINS    1838 non-null   int64
dtypes: float64(12), int64(7), object(2)
memory usage: 315.9+ KB

In [ ]:
#create a list for team performance over the past 7 games to analyze team strength
teamPerformance = []
for ind in data.index:
   date = data['GAME_DATE_EST'][ind]
   recent_games = games_df[games_df['GAME_DATE_EST'] < date][(games_df['HOME_TEAM_ID'] == team_id) | (games_df['VISITOR_TEAM_ID'] == team_id)].sort_values(by = 'GAME_DATE_EST').tail(7)

  # print(recent-games)

  #calculate the average points scored
   average_points = 0
   for index in recent_games.index:
    if games_df['HOME_TEAM_ID'][ind] == team_id:
      average_points += (games_df['PTS_home'][ind])
    else:
      average_points +=(games_df['PTS_away'][ind])

  # print (points)
   average_points = average_points/7
   teamPerformance.append(average_points)

print(teamPerformance)

In [ ]:
#create a list for opposition performance over the past 7 games to analyze team strength
opPerformance = []
for ind in data.index:
   # get the opposition team
   if data['HOME_TEAM_ID'][ind]== team_id:
    opp = data['TEAM_ID_away'][ind]
   else:
    opp = data['TEAM_ID_home'][ind]
   date = data['GAME_DATE_EST'][ind]
   recent_games = games_df[games_df['GAME_DATE_EST'] < date][(games_df['HOME_TEAM_ID'] == opp) | (games_df['VISITOR_TEAM_ID'] == opp)].sort_values(by = 'GAME_DATE_EST').tail(7)

  # print(recent-games)

  #calculate the average points scored
   average_points = 0
   for index in recent_games.index:
    if games_df['HOME_TEAM_ID'][ind] == opp:
      average_points += (games_df['PTS_home'][ind])
    else:
      average_points +=(games_df['PTS_away'][ind])

  # print (points)
   average_points = average_points/7
   opPerformance.append(average_points)

print(opPerformance)

In [27]:
# Add a new binary column named 'HOME' to data
data['HOME'] = [1 if x == team_id else 0 for x in data['HOME_TEAM_ID']]
data.head()

/var/folders/t4/4qwk8z7s1fn1bs6x44bkmmqm0000gn/T/ipykernel_60601/4209626299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['HOME'] = [1 if x == team_id else 0 for x in data['HOME_TEAM_ID']]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,HOME
11,2022-12-21,22200475,Final,1610612758,1610612747,2022,1610612758,134.0,0.505,0.750,...,46.0,1610612747,120.0,0.500,0.833,0.458,25.0,39.0,1,0
25,2022-12-19,22200459,Final,1610612756,1610612747,2022,1610612756,130.0,0.495,0.750,...,51.0,1610612747,104.0,0.448,0.824,0.429,13.0,38.0,1,0
33,2022-12-18,22200451,Final,1610612747,1610612764,2022,1610612747,119.0,0.500,0.727,...,43.0,1610612764,117.0,0.463,0.792,0.256,24.0,48.0,1,1
50,2022-12-16,22200437,Final,1610612747,1610612743,2022,1610612747,126.0,0.527,0.750,...,45.0,1610612743,108.0,0.481,0.750,0.333,25.0,39.0,1,1
69,2022-12-13,22200413,Final,1610612747,1610612738,2022,1610612747,118.0,0.473,0.733,...,49.0,1610612738,122.0,0.442,0.688,0.396,27.0,51.0,0,1

In [29]:
#create a list to hold games won by the team
team_wins=[]

won = 0
for ind in data.index:
  if (data['HOME'][ind] == 1 and data['HOME_TEAM_WINS'][ind] == 1) or (data['HOME'][ind] == 0 and data['HOME_TEAM_WINS'][ind] == 0):
    won = 1
  else:
    won = 0

  team_wins.append(won)

print(team_wins)

[0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1]

In [30]:
# add a new column for team performance over the past 7 games
data['TEAM_PERF'] = teamPerformance

/var/folders/t4/4qwk8z7s1fn1bs6x44bkmmqm0000gn/T/ipykernel_60601/2115024283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TEAM_PERF'] = teamPerformance

In [31]:
# add a new column for opposition performance over the past 7 games
data['OPP_PERF'] = opPerformance

/var/folders/t4/4qwk8z7s1fn1bs6x44bkmmqm0000gn/T/ipykernel_60601/2033825414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['OPP_PERF'] = opPerformance

In [32]:
# add a new column for team win after each game
data['TEAM_WINS'] = team_wins

/var/folders/t4/4qwk8z7s1fn1bs6x44bkmmqm0000gn/T/ipykernel_60601/724665591.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TEAM_WINS'] = team_wins

In [33]:
#review the data
data.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,HOME,TEAM_PERF,OPP_PERF,TEAM_WINS
11,2022-12-21,22200475,Final,1610612758,1610612747,2022,1610612758,134.0,0.505,0.750,...,0.500,0.833,0.458,25.0,39.0,1,0,120.0,134.0,0
25,2022-12-19,22200459,Final,1610612756,1610612747,2022,1610612756,130.0,0.495,0.750,...,0.448,0.824,0.429,13.0,38.0,1,0,104.0,130.0,0
33,2022-12-18,22200451,Final,1610612747,1610612764,2022,1610612747,119.0,0.500,0.727,...,0.463,0.792,0.256,24.0,48.0,1,1,119.0,117.0,1
50,2022-12-16,22200437,Final,1610612747,1610612743,2022,1610612747,126.0,0.527,0.750,...,0.481,0.750,0.333,25.0,39.0,1,1,126.0,108.0,1
69,2022-12-13,22200413,Final,1610612747,1610612738,2022,1610612747,118.0,0.473,0.733,...,0.442,0.688,0.396,27.0,51.0,0,1,118.0,122.0,0

In [35]:
#save to csv

data.to_csv('LALData.csv')